#input_name {
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
}
#input_expense{
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
}
body {
    text-align: center;
}
h1{
    margin-bottom: 50px;
}
#add_btn {
    background-color: rgb(51, 147, 226);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
li{
    list-style-type: none;
}
table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

  }
  
  table, th, td {
    border: 1px solid blue;
  }
  
  th {
    background-color: blue;
    color: white;
    padding: 10px;
  }
  
  td {
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }